<%= form_with(model: @category, url: url_new_edit) do |form| %>
  <div class="<%= fieldset_disabled %>">
    <div class="mb-3">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :descryption, class: 'form-label' %>
      <%= form.text_field :descryption, class: 'form-control' %>
    </div>
  </div>
  <div>
    <% if action_name == 'show' %>
      <%= link_to edit_admin_template_category_path(@category), class:'btn btn-primary' do %>
        <i class="bi bi-pencil-square">Editar</i>
      <% end %>
      <%= link_to admin_template_category_path(@category), method: :delete, class:'btn btn-danger', data:{confirm: "Você quer excluir #{@category.name}?"} do %>
        <i class="bi bi-trash-fill">Excluir</i>
      <% end %>
    <% else %>
      <%= form.submit 'Salvar', class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
