<div class="wrapper">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h2>Log in</h2>

    <div class="input-box">
      <%= f.input :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="input-box">
      <%= f.input :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class=" field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <%= render "admins/shared/links" %>

    <div class="input-box button">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>

