<%= form_with(model: [ :admin_template, @product ]) do |form| %>
  <% if @product.errors.any? %>
    <% @product.errors.full_messages.each do |message| %>
      <h1><%= message %></h1>
    <% end %>
  <% end %>
  <div class="<%= fieldset_disabled %>">
    <div class="mb-3 row">
      <%= form.text_field :name, placeholder: :name, class: 'form-control col-10'%>
    </div>

    <div class="mb-3 row">
      <%= form.text_field :brand, placeholder: :brand, class: 'form-control col-10' %>
    </div>

    <% if action_name == 'show' %>
      <%= form.label :category, class: 'form-label' %>
      <div class="mb-3 row">
        <%= form.text_field :category, value: category_name, class: 'form-control col-10' %>
      </div>
    <% else %>
      <label for="product_category_id">Selecione a categoria</label>
      <div class="form-floating row mb-3">
        <%= form.collection_select(:category_id, @categories.to_a, :id, :name, { include_blank: 'Nenhuma', selected: nil }, { class: 'form-control select2 select2-hidden-accessible col-10' })%>
      </div>
    <% end %>
    <div class="mb-3 row">
      <%= form.label :purchase_price, class: 'form-label mr-3' %>
      <%= form.text_field :purchase_price, placeholder:'Digite o preço de compra', class: 'form-control col-3 price-input mr-4', step: 0.01, value: number_with_precision(@product.purchase_price, precision: 2, delimiter: '.', separator: ',') %>
      <%= form.label :sale_price, class: 'form-label mr-3' %>
      <%= form.text_field :sale_price, placeholder:'Digite o preço de venda', class: 'form-control col-3 mr-4 price-input', step: 0.01, value: number_with_precision(@product.sale_price, precision: 2, delimiter: '.', separator: ',') %>

    </div>
    <div class="mb-3 row">
      <%= form.label :quantity, class: 'form-label mr-3' %>
      <%= form.number_field :quantity, class: 'form-control col-3', id:'product-quantity' %>
    </div>

    <div id="variations">
      <h3><%= is_present?(@product.variations, 'Variação' ,form, :variations, 'btn btn-success mb-3 add-variation') %></h3>
      <%= form.fields_for :variations do |variation| %>
        <%= render partial: 'variation_fields', locals: {f: variation} %> 
      <% end %>
    </div>
    <div class="mb-3">
      <%= form.label :descryption, class: 'form-label' %>
      <%= form.text_area :descryption, class: 'form-control col-10', row: 4 %>
    </div>
  </div>
  <div>
    <% if action_name == 'show' %>
      <%= link_to edit_admin_template_product_path(@product), data: { turbolinks: false }, class:'btn btn-primary' do %>
        <i class="bi bi-pencil-square">Editar</i>
      <% end %>
      <%= link_to admin_template_product_path(@product), method: :delete, class:'btn btn-danger', data:{confirm: "Você quer excluir #{@product.name}?"} do %>
        <i class="bi bi-trash-fill">Excluir</i>
      <% end %>
    <% else %>
      <div class="custom-file">
        <%= form.file_field :image, class: 'custom-file-input', id: 'exampleInputFile' %>
        <%= form.label 'Escolha uma imagem', class: 'custom-file-label col-6', id: 'exampleInputFile' %>
      </div>
      <%= form.submit 'Salvar', class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
