<%= form_with(model: @product, url: url_new_edit) do |form| %>
  <div class="<%= fieldset_disabled %>">
    <div class="mb-3 ">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
    <div class="mb-3 ">
      <%= form.label :descryption, class: 'form-label' %>
      <%= form.text_field :descryption, class: 'form-control' %>
    </div>
    <% if action_name == 'show' %>
      <div class="mb-3">
        <%= form.label :category, class: 'form-label' %>
        <%= form.text_field :category, value: category_name, class: 'form-control' %>
      </div>
    <% else %>
      <div class="form-floating">
        <%= form.collection_select(:category_id, @categories, :id, :name, { include_blank: 'Nenhuma' }, { class: 'form-select' }) %>
        <label for="product_category_id">Selecione a categoria</label>
      </div>
    <% end %>
    <div class="mb-3">
      <%= form.label :purchase_price, class: 'form-label' %>
      <%= form.number_field :purchase_price, class: 'form-control', step: 0.01 %>
    </div>
    <div class="mb-3">
      <%= form.label :sale_price, class: 'form-label' %>
      <%= form.number_field :sale_price, class: 'form-control', step: 0.01 %>
    </div>

    <h3>Variação</h3>
    <div id="variations">
      <%= form.fields_for :variations do |variation| %>
        <%= render partial: 'variation_fields', locals: {f: variation} %>
      <% end %>
      <%= link_to_add_association 'Adicionar variação', form, :variations, class: 'btn btn-success'%>
    </div>

    <div class="mb-3">
      <%= form.label :quantity, class: 'form-label' %>
      <%= form.number_field :quantity, class: 'form-control' %>
    </div>
  </div>
  <div>
    <% if action_name == 'show' %>
      <%= link_to edit_admin_template_product_path(@product), class:'btn btn-primary' do %>
        <i class="bi bi-pencil-square">Editar</i>
      <% end %>
      <%= link_to admin_template_product_path(@product), method: :delete, class:'btn btn-danger', data:{confirm: "Você quer excluir #{@product.name}?"} do %>
        <i class="bi bi-trash-fill">Excluir</i>
      <% end %>
    <% else %>
      <div class="mb-3">
        <%= form.label :image, class: 'form-label' %>
        <%= form.file_field :image, class: 'form-control' %>
      </div>
      <%= form.submit 'Salvar', class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
