<%= form_with(model: [ :admin_template, @product ]) do |form| %>
  <div class="<%= fieldset_disabled %>">
    <div class="mb-3 row">
      <%= form.text_field :name, placeholder: :name, class: 'form-control col-10'%>
    </div>

    <div class="mb-3 row">
      <%= form.text_field :brand, placeholder: :brand, class: 'form-control col-10' %>
    </div>

    <% if action_name == 'show' %>
      <%= form.label :category, class: 'form-label' %>
      <div class="mb-3 row">
        <%= form.text_field :category, value: category_name, class: 'form-control col-10' %>
      </div>
    <% else %>
      <label for="product_category_id">Selecione a categoria</label>
      <div class="form-floating row mb-3">
        <%= form.collection_select(:category_id, @categories, :id, :name, { include_blank: 'Nenhuma' }, { class: 'form-control select2 select2-hidden-accessible col-10' }) %>
      </div>
    <% end %>
    <div class="mb-3 row">
      <%= form.label :purchase_price, class: 'form-label mr-3' %>
      <%= form.number_field :purchase_price, class: 'form-control col-3 mr-4', step: 0.01 %>
      <%= form.label :sale_price, class: 'form-label mr-3' %>
      <%= form.number_field :sale_price, class: 'form-control col-3 mr-4', step: 0.01 %>
    </div>
    <div class="mb-3 row">
      <%= form.label :quantity, class: 'form-label mr-3' %>
      <%= form.number_field :quantity, class: 'form-control col-3' %>
    </div>

    <% if action_name == 'show' %>
      <% if @product.variations.present? %>
        <h3>Variação</h3>
      <% else %>
        <h3>Sem variações</h3>
      <% end %>
    <% else %>
    <div id="variations">
      <%= link_to_add_association 'Adicionar variação', form, :variations, class: 'btn btn-success mb-3'%>
    <% end %>
      <%= form.fields_for :variations do |variation| %>
        <%= render partial: 'variation_fields', locals: {f: variation} %>
      <% end %>
    </div>
    <div class="mb-3">
      <%= form.label :descryption, class: 'form-label' %>
      <%= form.text_area :descryption, class: 'form-control col-10', row: 4 %>
    </div>
  </div>
  <div>
    <% if action_name == 'show' %>
      <%= link_to edit_admin_template_product_path(@product), class:'btn btn-primary' do %>
        <i class="bi bi-pencil-square">Editar</i>
      <% end %>
      <%= link_to admin_template_product_path(@product), method: :delete, class:'btn btn-danger', data:{confirm: "Você quer excluir #{@product.name}?"} do %>
        <i class="bi bi-trash-fill">Excluir</i>
      <% end %>
    <% else %>
      <div class="custom-file">
        <%= form.file_field :image, class: 'custom-file-input', id: 'exampleInputFile' %>
        <%= form.label 'Escolha uma imagem', class: 'custom-file-label col-6', id: 'exampleInputFile' %>
      </div>
      <%= form.submit 'Salvar', class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
