<div class="container">
  <h2>Editar Senha</h2>

  <%= simple_form_for @admin, url: update_password_admin_template_admin_path(@admin), method: :put do |form| %>
    <%= form.input :current_password, label: "Senha Atual", required: true, input_html: { class: "form-control" } %>
    <%= form.input :password, label: "Nova Senha", required: true, input_html: { class: "form-control" } %>
    <%= form.input :password_confirmation, label: "Confirmar Nova Senha", required: true, input_html: { class: "form-control" } %>

    <div class="form-group">
      <%= form.button :submit, "Atualizar Senha", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
