<%= form_with(model: [ :admin_template, @customer ]) do |form| %>
  <div class="<%= fieldset_disabled %>">
    <div class="mb-3">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :phone, class: 'form-label' %>
      <%= form.phone_field :phone, placeholder: '(99) 9 9999-9999', class: 'form-control phone' %>
    </div>

    <div class="mb-3">
      <%= form.label :email, class: 'form-label' %>
      <%= form.text_field :email, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :city, class: 'form-label' %>
      <%= form.text_field :city, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :neighborhood, class: 'form-label' %>
      <%= form.text_field :neighborhood, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :andress, class: 'form-label' %>
      <%= form.text_field :andress, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :house_number, class: 'form-label' %>
      <%= form.number_field :house_number, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :cpf, class: 'form-label' %>
      <%= form.text_field :cpf, class: 'form-control cpf-input' %>
    </div>
  </div>
  <div>
    <% if action_name == 'show' %>
      <%= link_to edit_admin_template_customer_path(@customer), data: { turbolinks: false }, class:'btn btn-primary' do %>
        <i class="bi bi-pencil-square">Editar</i>
      <% end %>
      <%= link_to admin_template_customer_path(@customer), method: :delete, class:'btn btn-danger', data:{confirm: "Você quer excluir #{@customer.name}?"} do %>
        <i class="bi bi-trash-fill">Excluir</i>
      <% end %>
    <% else %>
      <%= form.submit 'Salvar', class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
