<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalLabel">Produtos cadastrados em <%= @total_text.gsub('(', '').gsub(')', '') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="product-list">
          <% @products.each do |product| %>
            <div class="product-item">
              <div class="row">
                <div class="col-md-3">
                  <%= link_to(image(product), '#', "data-toggle":"modal", "data-target":"#exampleModal")%>
                </div>
                <div class="col-md-9">
                  <h4><%= link_to product.full_name, admin_template_product_path(product), class: 'mr-2', target: '_blank' %></h4>
                  <% if product.variations.present? %>
                    <button class="btn btn-warning btn-sm" data-toggle="modal" data-target=".bd-example-modal-xl<%= product.id %>" title="Variações">
                      <i class="bi bi-diagram-3-fill"></i>
                    </button>
                    <%= render partial: 'admin_template/shared/modals/product_modal', locals: {product: product} %>
                  <% end %>
                </div>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
        <div class="text-center mt-4">
          <%= link_to 'Mostrar Todos os Produtos', admin_template_products_path, class: 'btn btn-primary', target: '_blank' %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'admin_template/shared/modals/image_modal' %>
<%= javascript_pack_tag 'products' %>
