<div class="float-end"><%= link_to 'Adicionar novo', new_admin_template_customer_path, class: 'btn btn-success mb-2' %></div>
<%= form_tag(admin_template_customers_path, method: :get, class: "form-inline mb-3") do %>
  <div class="form-group mr-2">
    <%= label_tag :search, "Pesquisar por:" %>
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Nome ou CPF" %>
  </div>
  <div class="form-group mr-2">
    <%= label_tag :search_date, "Pesquisar por data de nascimento:" %>
    <%= date_field_tag :search_date, params[:search_date], class: "form-control" %>
  </div>
  <%= submit_tag "Pesquisar", class: "btn btn-primary mr-2" %>
  <%= link_to "Limpar", admin_template_customers_path, class: "btn btn-secondary" %>
<% end %>

<table class="table table-bordered data-table dtr-inline">
  <thead>
    <tr>
      <th class="col-1">Id</th>
      <th class="col-5">Nome</th>
      <th class="col-2">Email</th>
      <th class="col-2">Data de nascimento</th>
      <th class="col-2">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <td style="padding-bottom: 37px;"><%= customer.id %></td>
      <td><%= customer.name %></td>
      <td><%= customer.email %></td>
      <td><%= customer.date_of_birth.strftime('%d/%m/%Y') if customer.date_of_birth.present? %></td>
      <td>
          <%= link_to admin_template_customer_path(customer), class: "btn btn-info btn-sm", title: "Detalhes" do %>
            <i class="bi bi-eye-fill"></i>
          <% end %>
          <%= link_to edit_admin_template_customer_path(customer), data: { turbolinks: false }, class: "btn btn-primary btn-sm", title: "Editar" do %>
            <i class="bi bi-pencil-square"></i>
          <% end %>
          <% if customer.phone.present? %>
            <%= link_to "https://wa.me/55#{customer.phone.gsub(/[\(\)\s-]/, '')}", class: 'btn whatsapp-color btn-sm', alt: 'Icone do Whatsapp', height: '32', width: '32' do %>
              <i class="bi bi-whatsapp"></i>
            <% end %>
          <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
