<div class="float-end"><%= link_to 'Adicionar novo', new_admin_template_product_path, class: 'btn btn-success' %></div>
<div>
  <table class="table">
    <thead>
      <tr>
        <th class="col-1">Id</th>
        <th class="col-2">Nome</th>
        <th class="col-4"></th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>   
      <tr>
        <td  style="padding-bottom: 37px;"><%= product.id %></td>
        <td><%= product.name %></td>
        <td  class="rounded float-end"><%= link_to(image(product), '#', "data-bs-toggle":"modal", "data-bs-target":"#staticBackdrop")%></td>
        <td><%= link_to 'ver', admin_template_product_path(product), class: "btn btn-green" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
